.toggler button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}

.toggler .active {
  background-color: #fff;
  color: #000;
  transition: all 0.5s;
}
