.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-right: 1rem;
}

.weather-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 14px;
}

.weather-card svg {
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .weather-info {
    margin-bottom: 1rem;
  }
}
