.weather-info {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  grid-gap: 4rem;
  margin-top: 3rem;
  margin-right: 8px;
}

.weather-card {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 1rem;
  text-align: center;
  width: 100%;
}

.weather-card svg {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.weather-card p {
  font-size: 12px;
  word-wrap: break-word;
}

@media (max-width: 400px) {
  .weather__info {
    grid-template-columns: none;
  }
}
